.wo{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 70vh;
    width: 100%;
    position: relative;
    /* font-family: 'Oleo Script', cursive; */
    background: rgb(0, 0, 0);
}
.wo-h3{
    position: absolute;
    top: 20%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    left: 10%;
    font-size: 52px;
    color: rgba(145, 145, 145, 0.541);
    /* color: rgb(0, 140, 255); */
}
.wos-h3{
    position: absolute;
    top: 20%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    left: 10%;
    font-size: 52px;
    color: rgb(145, 145, 145);
    /* color: rgb(0, 140, 255); */
}
.wo-h3 .button{
    align-items: center;
    text-align: center;
    width: 200px;
    margin-left: 10rem;
}
.wos-h3 .button{
    align-items: center;
    text-align: center;
    width: 200px;
    margin-left: 10rem;
}
.wo-img{
    width: 100%;
    min-height: 70vh;
}
.wos-img{
    width: 100%;
    min-height: 70vh;
}
@media screen and (max-width: 795px){
    .wos-img{
        min-height: 100vh;
        object-fit: cover;
    }
.wo-h3{
    font-size: 30px;
}
.wo-h3 .button{
    width: 100px;
    font-size: 12px;
    margin-left: 2rem;
}
}
@media screen and (max-width: 450px){
    .wo{
        margin-top: 50px;
    }
.wo-h3{
    top: 50%;
    font-size: 20px;
    /* color: black; */
    color: white;
}
.wos-h3{
    top: 10%;
    left: 5%;
    font-size: 20px;
    /* color: black; */
    color: rgb(54, 53, 53);
}
.wo-h3 .button{
    width: 100px;
    font-size: 12px;
    margin-left: 2rem;
}
.wos-h3 .button{
    width: 100px;
    font-size: 12px;
    margin-left: 2rem;
}
}